<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <title>About Us</title>
</head>

<body>
    <!-- START HEADER SECTION -->
    <header>
        <!-- NAVBAR START -->
        <div id="navbar">
            <div id="kerico">
                <img id="nav-icon" src="../static/images/icons/kerico.svg" alt="kerico">
            </div>

            <div id="menu">
                <ul>
                    <a href="#">
                        <li class="menu-page-link">Driver</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Customer</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Driver Recruting</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Partners</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">About us</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Contact us</li>
                    </a>
                </ul>
            </div>

            <div id="social-app-contacts">
                <img class="social-app-icon" src="../static/images/icons/facebook.svg" alt="facebook-icon">
                <img class="social-app-icon" src="../static/images/icons/twitter.svg" alt="twitter-icon">
                <img class="social-app-icon" src="../static/images/icons/linkedin.svg" alt="linkedin-icon">
            </div>
        </div>
        <!-- END NAVBAR -->
    </header>
    <!-- END HEADER SECTION  -->
    <hr class="nav-hr">
    <!-- START FRAME 27 SECTION  -->
    <div class="header-wrapper">
        <div class="header-inner-wrap">
            <img id="hands-img" src="../static/images/banners/about/holding-hands.svg">
            <div class="header-content">
                <h2>About <span class="span-text">Kerico</span></h2>
                <p>Kerico Healthcare provides Non-Emergency Medical Transportation<br>(NEMT) services for organizations and
                    thousands of rides annually.<br>We are trusted by hospitals, clinics, and healthcare providers to get<br>
                    their patients to and from their medical appointments with great<br>customer experience.</p>
            </div>
        </div>
    </div>
    <!-- END FRAME 27 SECTION  -->

<!-- START SERVICE SECTION  -->

    <div class="service-wrap">
        <div class="service-inner-wrap">
            <h3><span class="span-text">Kerico</span> service</h3>
            <div class="service-items-section">
                <div class="service-items">
                    <img src="../static/images/banners/about/item1.svg">
                    <hr class="item-hr">
                    <h4>Clinics and medical providers</h4>
                    <p>We help clinics improve their appointment show<br>rates by offering an affordable ride scheduling<br>and requesting solution for their patients who<br>may not have easy access to transportation.</p>
                </div>
                <div class="service-items">
                    <img src="../static/images/banners/about/item2.svg">
                    <hr class="item-hr">
                    <h4>Retireement homes and communities</h4>
                    <p>We provide retirement homes and residential<br>care facilities with an affordable and flexible<br>transportation to help their residents stay<br>connected to their the community for trips to<br>shopping, entertainment, recreation, the arts,<br>and family visits.</p>
                </div>
                <div class="service-items">
                    <img src="../static/images/banners/about/item3.svg">
                    <hr class="item-hr">
                    <h4>Skilled nursing facilities</h4>
                    <p>Our highly screened group of drivers with<br>specialized health care training only drive for us.<br>This ensures residents arrive safely to their<br>medical appointments on time with any<br>assistance or help needed.</p>
                </div>
            </div>
        </div>
    </div>

<!-- END SERVICE SECTION  -->

<!-- START TESTIMONIALS SECTION  -->
<div class="testimonials">
    <img id="testimonials-img" src="../static/images/banners/about/testimonials.svg" alt="testimonials">
</div>
<!-- END TESTIMONIALS SECTION  -->

<!-- START SLIDER SECTION  -->
<swiper-container class="mySwiper" navigation="true">
        
    <swiper-slide>
        <div class="slider-item">
            <img id="slider-item-logo" src="../static/images/banners/nirp-logo.svg" alt="NIRP LOGO">
            <div class="slider-content">
                <h4>"Making it easier for our patients to get a ride to and from<br>their home improved our
                    appointment
                    show rate and our<br>facility utilization rate. That in turn has improved
                    patient<br>satisfaction and
                    our bottom line."</h4>
                <h4>Maulik Patel, CFO</h4>
                <h6>Learn more <img src="../static/images/icons/slider-strelka.svg"></h4>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="slider-item">
            <img id="slider-item-logo" src="../static/images/banners/nirp-logo.svg" alt="NIRP LOGO">
            <div class="slider-content">
                <h4>"Making it easier for our patients to get a ride to and from<br>their home improved our
                    appointment
                    show rate and our<br>facility utilization rate. That in turn has improved
                    patient<br>satisfaction and
                    our bottom line."</h4>
                <h4>Maulik Patel, CFO</h4>
                <h6>Learn more <img src="../static/images/icons/slider-strelka.svg"></h4>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="slider-item">
            <img id="slider-item-logo" src="../static/images/banners/nirp-logo.svg" alt="NIRP LOGO">
            <div class="slider-content">
                <h4>"Making it easier for our patients to get a ride to and from<br>their home improved our
                    appointment
                    show rate and our<br>facility utilization rate. That in turn has improved
                    patient<br>satisfaction and
                    our bottom line."</h4>
                <h4>Maulik Patel, CFO</h4>
                <h6>Learn more <img src="../static/images/icons/slider-strelka.svg"></h4>
            </div>
        </div>
    </swiper-slide>

</swiper-container>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<!-- END SLIDER SECTION  -->


<!-- START FOOTER SECTION  -->
<footer>

    <div class="footer-inner-wrap-1">
        <img id="footer-logo" src="../static/images/icons/kerico.svg" alt="kerico logo">
        <div class="web-app-logos">
            <img src="../static/images/logos/facebook.svg" alt="facebook">
            <img src="../static/images/logos/twitter.svg" alt="twitter">
            <img src="../static/images/logos/linkedin.svg" alt="linkedin">
        </div>
    </div>

    <div class="footer-navbar">
        <ul>
            <a href="#">
                <li class="footer-navbar-item">Driver</li>
            </a>
            <a href="#">
                <li class="footer-navbar-item">Customer</li>
            </a>
            <a href="#">
                <li class="footer-navbar-item">Driver Recruting</li>
            </a>
            <a href="#">
                <li class="footer-navbar-item">Partners</li>
            </a>
            <a href="#">
                <li class="footer-navbar-item">About us</li>
            </a>
            <a href="#">
                <li class="footer-navbar-item">Contact us</li>
            </a>
        </ul>
        <br><br>
    </div>
    <hr class="midline">
    <div class="footer-privacy-section">

        <div>
            <h5>Privacy Policy</h5>
            <h5>©2023 Kerico N.E.M.T Services</h5>
        </div>

        <div>
            <h5>Tell Free:<span class="copyrights"> 877-353-9857</span>  Local:<span class="copyrights"> 281-809-7245</span></h5>
            <h5>Address:<span class="copyrights"> 6575 West Loop South, Suite 500, Bellaire, TX 77401</span></h5>
        </div>

    </div>

</footer>
<!-- END FOOTER SECTION  -->

</body>

</html>