<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Driver-Page</title>
</head>

<body>
    <!-- START HEADER SECTION -->
    <header>
        <!-- NAVBAR START -->
        <div id="navbar">
            <div id="kerico">
                <img id="nav-icon" src="../static/images/icons/kerico.svg" alt="kerico">
            </div>

            <div id="menu">
                <ul>
                    <a href="#">
                        <li class="menu-page-link">Driver</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Customer</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Driver Recruting</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Partners</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">About us</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Contact us</li>
                    </a>
                </ul>
            </div>

            <div id="social-app-contacts">
                <img class="social-app-icon" src="../static/images/icons/facebook.svg" alt="facebook-icon">
                <img class="social-app-icon" src="../static/images/icons/twitter.svg" alt="twitter-icon">
                <img class="social-app-icon" src="../static/images/icons/linkedin.svg" alt="linkedin-icon">
            </div>
        </div>
        <!-- END NAVBAR -->
    </header>
    <!-- END HEADER SECTION  -->
<hr class="nav-hr">
    <!-- START HERO SECTION  -->
    <div class="hero-wrap">
        <div class="hero-content">
            <h1>Let's ride</h1>
            <p>Help get people to and from their medical appointments.<br>Get paid using what you already have.</p>
            <button>Apply to Drive<img src="../static/images/icons/btn.svg" alt="submit-button"></button>
        </div>
        <img class="work-condition-image" src="../static/images/banners/work_condition.svg" alt="driver with radio set">
    </div>
    <!-- END HERO SECTION  -->

    <!-- START ARTICLE SECTION -->
    <div class="article-container">
        <h3>Why drive with Kerico?</h3>
        <div class="article-wrap">

            <div class="article-wrap-item">
                <div>
                    <img src="../static/images/icons/namaste.svg" alt="namaste">
                    <h4>Have peace of mind</h4>
                </div>
                <div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>We do thousands of rides each year assigned to us by our partners.</h5>
                    </div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Drivers are covered by commercial liability insurance.</h5>
                    </div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Our Kerico driver community is appreciated and supported for success.</h5>
                    </div>

                </div>
            </div>

            <div class="article-wrap-item">
                <div>
                    <img src="#" alt="money">
                    <h4>Make money and a difference using what you already have</h4>
                </div>
                <div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Earn money with your car and free time.</h5>
                    </div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Earn even more money per ride doing wheelchair van rides.</h5>
                    </div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Help get people to their healthcare appointments.</h5>
                    </div>

                </div>
            </div>

            <div class="article-wrap-item">
                <div>
                    <img src="#" alt="eye">
                    <h4>Be in control, no surprises</h4>
                </div>
                <div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Choose your trips and set your own schedule.</h5>
                    </div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Know exactly how much you are making.</h5>
                    </div>

                </div>
            </div>

            <div class="article-wrap-item">
                <div>
                    <img src="#" alt="easy to use">
                    <h4>We keep it simple</h4>
                </div>
                <div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>You drive clients safely and provide a great customer experience; we do the rest.</h5>
                    </div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Most of the rides are allocated in-app 24-hours ahead, giving you time to accept/decline.
                        </h5>
                    </div>

                    <div>
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Use easy to navigate in-app tools to maximize earning.</h5>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- END ARTICLE SECTION  -->

    <!-- START CONTENT SECTION  -->
    <div class="content-wrap">
        <h2>Start making money while helping people.</h2>
        <button>Apply to Drive<img src="../static/images/icons/btn.svg" alt="submit-button"></button>
    </div>
    <!-- END CONTENT SECTION  -->

    <!-- START ABOUT US -->
    <div class="about-us-wrap">
        <h5><a href="#">who we are</a></h5>
        <h3>Kerico Healthcare Creating Value for our Community</h3>
        <h6>Kerico Healthcare provides Non-Emergency Medical Transportation (NEMT) services for organizations and
            thousands of rides annually. We are trusted by hospitals, clinics, and healthcare providers to get their
            patients to and from their medical appointments with great customer experience.</h6>
        <div class="about-us-inner-wrap">
            <img src="../static/images/banners/driverpage_wheelchair.svg" alt="wheelchair">
        </div>
    </div>
    <!-- END ABOUT US -->

    <!-- START SLIDER SECTION -->
    <div class="slideshow-container">
        <h3><a href="#">Making an impact</a></h3>
        <h2>What our community is saying</h2>
        <!-- Full-width images with number and caption text -->

        <div class="mySlides fade">
            <img src="../static/images/logos/Harold.svg">
            <div class="text">“As a student, it's hard to complete my class work around a schedule. I started driving
                more with Lyft and realized it was the perfect opportunity to make money and work on my own time!
                Driving with Lyft gives me freedom in my schedule to focus on school, which is my main priority.”</div>
            <h3>Harold</h3>
            <h5>Driving with Lyft since 2019</h5>
        </div>

        <div class="mySlides fade">
            <img src="../static/images/logos/Harold.svg">
            <div class="text">“As a student, it’s hard to complete my class work around a schedule. I started driving
                more with Lyft and realized it was the perfect opportunity to make money and work on my own time!
                Driving with Lyft gives me freedom in my schedule to focus on school, which is my main priority.”</div>
            <h3>Harold</h3>
            <h5>Driving with Lyft since 2019</h5>
        </div>

        <div class="mySlides fade">
            <img src="../static/images/logos/Harold.svg">
            <div class="text">“As a student, it’s hard to complete my class work around a schedule. I started driving
                more with Lyft and realized it was the perfect opportunity to make money and work on my own time!
                Driving with Lyft gives me freedom in my schedule to focus on school, which is my main priority.”</div>
            <h3>Harold</h3>
            <h5>Driving with Lyft since 2019</h5>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <!-- END SLIDER SECTION  -->

    <!-- START STEPS SECTION  -->
    <h2>What you need to drive for Kerico:</h2>
    <div class="steps-wrap">
        <img src="../static/images/banners/niggawomandriver.svg" alt="nigger driver">
        <div class="steps-inner-wrap">

            <div class="steps-inner-wrap-items">
                <h3>01 - Apply Online</h3>
                <h5>Enter your contact information into the form above and you'll be on your way to becoming a Veyo
                    Driver. In most cases, our onboarding process takes 3-7 days, and it only takes a few minutes to get
                    started.</h5>
            </div>

            <div class="steps-inner-wrap-items">
                <h3>02 - Upload Documents</h3>
                <h5>Tell us what car you drive, upload your drivers license, insurance & registration, and we’ll start
                    your background check. No need to find a fax machine, you can use the camera on your phone.</h5>
            </div>

            <div class="steps-inner-wrap-items">
                <h3>03 - Get Credentialed</h3>
                <h5>All Drivers need to complete a vehicle inspection, watch the training videos, complete a CPR
                    Certification and provide payment information. We’ll walk you through each step.</h5>
            </div>

        </div>
        <button>Apply to Drive<img src="../static/images/icons/btn.svg" alt="submit-button"></button>
    </div>
    <!-- END STEPS SECTION  -->

    <!-- START FAQ SECTION -->
    <div class="faq-wrap">
        <h1>Frequently asked questions</h1>

        <div class="faq-items">
            <h4>Do I need special training to start driving?</h4>
            <img src="../static/images/icons/plus.svg" alt="plus">
        </div>

        <div class="faq-items">
            <h4>Do I need a special license?</h4>
            <img src="../static/images/icons/minus.svg" alt="plus">
            <h5>Nope. But you do have to pass driving history and criminal background check requirements that are based
                on the state you are driving in. We’ll let you know more about those once you start the signup process.
            </h5>
        </div>

        <div class="faq-items">
            <h4>Do I need any special equipment or a special vehicle?</h4>
            <img src="../static/images/icons/plus.svg" alt="plus">
        </div>

        <div class="faq-items">
            <h4>Can I sign up to drive my truck or 2-door vehicle?</h4>
            <img src="../static/images/icons/plus.svg" alt="plus">
        </div>

        <div class="faq-items">
            <h4>Do I need special insurance?</h4>
            <img src="../static/images/icons/plus.svg" alt="plus">
        </div>

    </div>
    <!-- END FAQ SECTION -->

    <!-- START FOOTER -->
    <footer>

        <div class="footer-inner-wrap-1">
            <img id="footer-logo" src="../static/images/icons/kerico.svg" alt="kerico logo">
            <div class="web-app-logos">
                <img src="../static/images/logos/facebook.svg" alt="facebook">
                <img src="../static/images/logos/twitter.svg" alt="twitter">
                <img src="../static/images/logos/linkedin.svg" alt="linkedin">
            </div>
        </div>

        <div class="footer-navbar">
            <ul>
                <a href="#">
                    <li class="footer-navbar-item">Driver</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Customer</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Driver Recruting</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Partners</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">About us</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Contact us</li>
                </a>
            </ul>
            <br><br>
        </div>
        <hr class="midline">
        <div class="footer-privacy-section">

            <div>
                <h5>Privacy Policy</h5>
                <h5>©2023 Kerico N.E.M.T Services</h5>
            </div>

            <div>
                <h5>Tell Free:<span class="copyrights"> 877-353-9857</span> Local:<span class="copyrights">
                        281-809-7245</span></h5>
                <h5>Address:<span class="copyrights"> 6575 West Loop South, Suite 500, Bellaire, TX 77401</span></h5>
            </div>

        </div>

    </footer>
    <!-- END FOOTER -->

    <script src="../static/assets/app.js"></script>
</body>

</html>