<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver-Page</title>
</head>

<body>
    <!-- START HEADER SECTION -->
    <header>
        <!-- NAVBAR START -->
        <div id="navbar">
            <div id="kerico">
                <img id="nav-icon" src="../static/images/icons/kerico.svg" alt="kerico">
            </div>

            <div id="menu">
                <ul>
                    <a href="#">
                        <li class="menu-page-link">Driver</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Customer</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Driver Recruting</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Partners</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">About us</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Contact us</li>
                    </a>
                </ul>
            </div>

            <div id="social-app-contacts">
                <img class="social-app-icon" src="../static/images/icons/facebook.svg" alt="facebook-icon">
                <img class="social-app-icon" src="../static/images/icons/twitter.svg" alt="twitter-icon">
                <img class="social-app-icon" src="../static/images/icons/linkedin.svg" alt="linkedin-icon">
            </div>
        </div>
        <!-- END NAVBAR -->
    </header>
    <!-- END HEADER SECTION  -->

    <!-- START HERO SECTION  -->
    <div class="hero-wrap">
        <div class="hero-content">
            <h1>Let's ride</h1>
            <p>Help get people to and from their medical appointments. Get paid using what you already have.</p>
            <button>Apply to Drive<img src="../static/images/icons/btn.svg" alt="submit-button"></button>
        </div>
        <img src="#" alt="driver with radio set">
    </div>
    <!-- END HERO SECTION  -->

    <!-- START ARTICLE SECTION -->
    <div class="article-container">
        <h3>Why drive with Kerico?</h3>
        <div class="article-wrap">

            <div class="article-wrap-item">
                <div>
                    <img src="#" alt="namaste">
                    <h4>Have peace of mind</h4>
                </div>
                <div>

                    <div>
                        <img src="#" alt="checked icon">
                        <h5>We do thousands of rides each year assigned to us by our partners.</h5>
                    </div>

                    <div>
                        <img src="#" alt="checked icon">
                        <h5>Drivers are covered by commercial liability insurance.</h5>
                    </div>
                    
                    <div>
                        <img src="#" alt="checked icon">
                        <h5>Our Kerico driver community is appreciated and supported for success.</h5>
                    </div>

                </div>
            </div>

            <div class="article-wrap-item">
                <div>
                    <img src="#" alt="money">
                    <h4>Make money and a difference using what you already have</h4>
                </div>
                <div>

                    <div>
                        <img src="#" alt="checked icon">
                        <h5>Earn money with your car and free time.</h5>
                    </div>

                    <div>
                        <img src="#" alt="checked icon">
                        <h5>Earn even more money per ride doing wheelchair van rides.</h5>
                    </div>
                    
                    <div>
                        <img src="#" alt="checked icon">
                        <h5>Help get people to their healthcare appointments.</h5>
                    </div>

                </div>
            </div>
            
            <div class="article-wrap-item">
                <div>
                    <img src="#" alt="eye">
                    <h4>Be in control, no surprises</h4>
                </div>
                <div>

                    <div>
                        <img src="#" alt="checked icon">
                        <h5>Choose your trips and set your own schedule.</h5>
                    </div>

                    <div>
                        <img src="#" alt="checked icon">
                        <h5>Know exactly how much you are making.</h5>
                    </div>
                    
                </div>
            </div>
            
            <div class="article-wrap-item">
                <div>
                    <img src="#" alt="easy to use">
                    <h4>We keep it simple</h4>
                </div>
                <div>

                    <div>
                        <img src="#" alt="checked icon">
                        <h5>You drive clients safely and provide a great customer experience; we do the rest.</h5>
                    </div>

                    <div>
                        <img src="#" alt="checked icon">
                        <h5>Most of the rides are allocated in-app 24-hours ahead, giving you time to accept/decline.</h5>
                    </div>
                    
                    <div>
                        <img src="#" alt="checked icon">
                        <h5>Use easy to navigate in-app tools to maximize earning.</h5>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- END ARTICLE SECTION  -->

    <!-- START CONTENT SECTION  -->
    <div class="content-wrap">
        <h2>Start making money while helping people.</h2>
        <button>Apply to Drive<img src="../static/images/icons/btn.svg" alt="submit-button"></button>
    </div>
    <!-- END CONTENT SECTION  -->

    <!-- START ABOUT US -->
    <div class="about-us-wrap">
        <h5><a href="#">who we are</a></h5>
        <h3>Kerico Healthcare Creating Value for our Community</h3>
        <h6>Kerico Healthcare provides Non-Emergency Medical Transportation (NEMT) services for organizations and thousands of rides annually. We are trusted by hospitals, clinics, and healthcare providers to get their patients to and from their medical appointments with great customer experience.</h6>
        <div class="about-us-inner-wrap">
            <img src="../static/images/banners/driverpage_wheelchair.svg" alt="wheelchair">
        </div>
    </div>
    <!-- END ABOUT US -->

    

</body>

</html>