<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Landing</title>
</head>

<body>
    <!-- START HEADER SECTION -->
    <header>
        <!-- NAVBAR START -->
        <div id="navbar">
            <div id="kerico">
                <img id="nav-icon" src="../static/images/icons/kerico.svg" alt="kerico">
            </div>

            <div id="menu">
                <ul>
                    <a href="#">
                        <li class="menu-page-link">Driver</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Customer</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Driver Recruting</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Partners</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">About us</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Contact us</li>
                    </a>
                </ul>
            </div>

            <div id="social-app-contacts">
                <a href="#"><img class="social-app-icon" src="../static/images/icons/facebook.svg"
                        alt="facebook-icon"></a>
                <a href="#"><img class="social-app-icon" src="../static/images/icons/twitter.svg"
                        alt="twitter-icon"></a>
                <a href="#"><img class="social-app-icon" src="../static/images/icons/linkedin.svg"
                        alt="linkedin-icon"></a>
            </div>
        </div>
        <!-- END NAVBAR -->
    </header>
    <!-- END HEADER SECTION  -->

    <!-- START HERO SECTION  -->
    <div class="landing-hero-wrap">
        <div class="landing-hero-content">
            <h2>Drive with <span class="span-text">Kerico</span> and make <span class="span-text">$2,000***</span> per
                week</h2>
            <h4>We help get people to and from their medical appointments on behalf of our partners - clinics,
                hospitals, and providers.</h4>
        </div>
        <img class="landing-hero-img" src="../static/images/banners/driver-hero-banner-1.svg" alt="driver hero banner">
    </div>
    <!-- END HERO SECTION  -->

    <!-- START FRAME23 -->
    <div class="frame23-wrapper">
        <h2>If you are committed to driving safely and treating riders with the same respect and care as you would give
            your loved ones, then Kerico is for you.</h2>
        <button>Sign up here <img src="../static/images/icons/btn.svg" alt=""></button>
    </div>
    <!-- END FRAME23 -->

    <!-- START RECRUITING CITIES SECTION -->
    <div class="recruiting-container">
        <h2>We are currently recruiting for these cities:</h2>
        <h4><a href="#"><span>Sign up here</span></a> for upcoming cities.</h4>
        <div class="cities-list">
            <ul>
                <li class="city-list-items">
                    <img src="../static/images/banners/texas.svg" alt="San Antonio Texas">
                    <hr>
                    <h3>San Antonio, Texas</h3>
                </li>
                <li class="city-list-items">
                    <img src="../static/images/banners/texas.svg" alt="San Antonio Texas">
                    <hr>
                    <h3>San Antonio, Texas</h3>
                </li>
                <li class="city-list-items">
                    <img src="../static/images/banners/texas.svg" alt="San Antonio Texas">
                    <hr>
                    <h3>San Antonio, Texas</h3>
                </li>
            </ul>
        </div>
    </div>
    <!-- END RECRUITING CITIES SECTION -->

    <!-- START ARTICLE SECTION -->
    <div class="article-container">
        <h3>Why drive with Kerico?</h3>
        <div class="article-wrap">

            <div class="article-item-1">
                <div class="item1-inner-wrap-1">
                    <img src="../static/images/icons/namaste.svg" alt="namaste">
                    <h4>Have peace of mind</h4>
                </div>

                <div class="item1-inner-wrap-2">

                    <div class="item1-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>We do thousands of rides each year assigned to us by<br>our partners.</h5>
                    </div>

                    <div class="item1-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Drivers are covered by commercial liability insurance.</h5>
                    </div>

                    <div class="item1-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Our Kerico driver community is appreciated and supported for success.</h5>
                    </div>

                </div>
            </div>

            <div class="article-item-2">
                <div class="item2-inner-wrap-1">
                    <img src="../static/images/icons/money.svg" alt="money">
                    <h4>Make money and a difference<br>using what you already have</h4>
                </div>
                <div class="item2-inner-wrap-2">

                    <div class="item2-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Earn money with your car and free time.</h5>
                    </div>

                    <div class="item2-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Earn even more money per ride doing wheelchair van rides.</h5>
                    </div>

                    <div class="item2-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Help get people to their healthcare appointments.</h5>
                    </div>

                </div>
            </div>

            <div class="article-item-3">
                <div class="item3-inner-wrap-1">
                    <img src="../static/images/icons/eye.svg" alt="eye">
                    <h4>Be in control, no surprises</h4>
                </div>
                <div class="item3-inner-wrap-2">

                    <div class="item3-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Choose your trips and set your own schedule.</h5>
                    </div>

                    <div class="item3-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Know exactly how much you are making.</h5>
                    </div>

                </div>
            </div>

            <div class="article-item-4">
                <div class="item4-inner-wrap-1">
                    <img src="../static/images/icons/easyuse.svg" alt="easy to use">
                    <h4>We keep it simple</h4>
                </div>
                <div class="item4-inner-wrap-2">

                    <div class="item3-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>You drive clients safely and provide a great customer experience; we do the rest.</h5>
                    </div>

                    <div class="item3-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Most of the rides are allocated in-app 24-hours ahead, giving you time to accept/decline.
                        </h5>
                    </div>

                    <div class="item3-inner-wrap2-items">
                        <img src="../static/images/icons/checked.svg" alt="checked icon">
                        <h5>Use easy to navigate in-app tools to maximize earning.</h5>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- END ARTICLE SECTION  -->

    <!-- START CONTENT SECTION  -->
    <div class="content-wrap">
        <h2>Sign up now and start making money<br>while helping people!</h2>
        <button>Sign up<img src="../static/images/icons/btn.svg" alt="submit-button"></button>
    </div>
    <!-- END CONTENT SECTION  -->

    <!-- START WHO WE ARE -->
    <div class="about-us-wrap">
        <div class="about-us-content">
            <h5><a href="#">Who we are</a></h5>
            <h3>Kerico Healthcare Creating Value<br>for our Community</h3>
            <h6>Kerico Healthcare provides Non-Emergency Medical Transportation (NEMT)<br>services for organizations and
                thousands of rides annually. We are trusted by<br>hospitals, clinics, and healthcare providers to get
                their
                patients to and from their medical appointments with great customer experience.</h6>
        </div>
        <div class="about-us-img">
            <img src="../static/images/banners/driverpage_wheelchair.svg" alt="wheelchair">
        </div>
    </div>
    <!-- END WHO WE ARE -->

    
    <!-- START SLIDER SECTION -->
    <div class="team-wrap">
        <div class="team-inner-wrap-1">
            <h3><a href="#">Making an impact</a></h3>

            <h1>What our community saying</h1>
        </div>
        <swiper-container class="team-slider" navigation="true">

            <swiper-slide>
                <div class="slider-item">
                    <img src="../static/images/logos/Harold.svg" alt="Harold">
                    <h4 class="motto">“As a student, it's hard to complete my class work around a schedule. I started
                        driving more with Lyft and realized it was the perfect opportunity to make money and work on my
                        own time! Driving with Lyft gives me freedom in my schedule to focus on school, which is my main
                        priority.”</h4>
                    <h3 class="member-name">Harold</h3>
                    <h4 class="joint-date">Driving with Lyft since 2019</h4>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slider-item">
                    <img src="../static/images/logos/Harold.svg" alt="Harold">
                    <h4 class="motto">“As a student, it's hard to complete my class work around a schedule. I started
                        driving more with Lyft and realized it was the perfect opportunity to make money and work on my
                        own time! Driving with Lyft gives me freedom in my schedule to focus on school, which is my main
                        priority.”</h4>
                    <h3 class="member-name">Harold</h3>
                    <h4 class="joint-date">Driving with Lyft since 2019</h4>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slider-item">
                    <img src="../static/images/logos/Harold.svg" alt="Harold">
                    <h4 class="motto">“As a student, it's hard to complete my class work around a schedule. I started
                        driving more with Lyft and realized it was the perfect opportunity to make money and work on my
                        own time! Driving with Lyft gives me freedom in my schedule to focus on school, which is my main
                        priority.”</h4>
                    <h3 class="member-name">Harold</h3>
                    <h4 class="joint-date">Driving with Lyft since 2019</h4>
                </div>
            </swiper-slide>

        </swiper-container>

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    </div>
    <!-- END SLIDER SECTION  -->

    <!-- START STEPS SECTION  -->

    <div class="steps-wrap">

        <h2>What you need to drive for Kerico:</h2>

        <div class="steps-inner-wrap-1">
            <img src="../static/images/banners/niggawomandriver.svg" alt="nigger driver">
            <div class="steps-inner-wrap-2">

                <div class="steps-inner-wrap-items">
                    <h3>01 - Apply Online</h3>
                    <h5>Enter your contact information into the form above and you'll be on your way to becoming a Veyo
                        Driver. In most cases, our onboarding process takes 3-7 days, and it only takes a few minutes to
                        get
                        started.</h5>
                </div>

                <div class="steps-inner-wrap-items">
                    <h3>02 - Upload Documents</h3>
                    <h5>Tell us what car you drive, upload your drivers license, insurance & registration, and we'll
                        start
                        your background check. No need to find a fax machine, you can use the camera on your phone.</h5>
                </div>

                <div class="steps-inner-wrap-items">
                    <h3>03 - Get Credentialed</h3>
                    <h5>All Drivers need to complete a vehicle inspection, watch the training videos, complete a CPR
                        Certification and provide payment information. We'll walk you through each step.</h5>
                </div>
                <button class="btn-apply">Apply to Drive<img src="../static/images/icons/btn.svg"
                        alt="submit-button"></button>
            </div>

        </div>
    </div>
    <!-- END STEPS SECTION  -->

    <!-- START FAQ SECTION -->
    <div class="faq-wrap">
        <h1>Frequently asked questions</h1>

        <div class="faq-items">
            <h4>Do I need special training to start driving?</h4>
            <img src="../static/images/icons/plus.svg" alt="plus">
        </div>
        <hr class="bottom-line">
        <div class="faq-items-wrap">
            <div class="faq-items-single-wrap">
                <h4>Do I need a special license?</h4>
                <img src="../static/images/icons/minus.svg" alt="plus">
            </div>
            <h5>Nope. But you do have to pass driving history and criminal background check requirements that are based
                on the state you are driving in. We'll let you know more about those once you start the signup process.
            </h5>
        </div>
        <hr class="bottom-line">
        <div class="faq-items">
            <h4>Do I need any special equipment or a special vehicle?</h4>
            <img src="../static/images/icons/plus.svg" alt="plus">
        </div>
        <hr class="bottom-line">
        <div class="faq-items">
            <h4>Can I sign up to drive my truck or 2-door vehicle?</h4>
            <img src="../static/images/icons/plus.svg" alt="plus">
        </div>
        <hr class="bottom-line">
        <div class="faq-items">
            <h4>Do I need special insurance?</h4>
            <img src="../static/images/icons/plus.svg" alt="plus">
        </div>

    </div>
    <!-- END FAQ SECTION -->

    <!-- START FOOTER -->
    <div class="driver-footer">

        <div class="footer-wrap-1">
            <img id="footer-logo" src="../static/images/icons/kerico.svg" alt="kerico logo">
            <div class="web-app-logos">
                <img src="../static/images/logos/facebook.svg" alt="facebook">
                <img src="../static/images/logos/twitter.svg" alt="twitter">
                <img src="../static/images/logos/linkedin.svg" alt="linkedin">
            </div>
        </div>

        <div class="footer-navbar">
            <ul>
                <a href="#">
                    <li class="footer-navbar-item">Driver</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Customer</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Driver Recruting</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Partners</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">About us</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Contact us</li>
                </a>
            </ul>
            <br><br>
        </div>
        <hr class="midline">
        <div class="footer-privacy-section">

            <div>
                <h5>Privacy Policy</h5>
                <h5>©2023 Kerico N.E.M.T Services</h5>
            </div>

            <div>
                <h5>Tell Free:<span class="copyrights"> 877-353-9857</span> Local:<span class="copyrights">
                        281-809-7245</span></h5>
                <h5>Address:<span class="copyrights"> 6575 West Loop South, Suite 500, Bellaire, TX 77401</span></h5>
            </div>

        </div>

    </div>
    <!-- END FOOTER -->


    <script src="../static/assets/app.js"></script>
</body>

</html>