<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Partners</title>
</head>

<body>
    <!-- START HEADER SECTION -->
    <header>
        <div id="navbar">
            <div id="kerico">
                <img id="nav-icon" src="../static/images/icons/kerico.svg" alt="kerico">
            </div>

            <div id="menu">
                <ul>
                    <a href="#">
                        <li class="menu-page-link">Driver</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Customer</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Driver Recruting</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Partners</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">About us</li>
                    </a>
                    <a href="#">
                        <li class="menu-page-link">Contact us</li>
                    </a>
                </ul>
            </div>

            <div id="social-app-contacts">
                <a href="#"><img class="social-app-icon" src="../static/images/icons/facebook.svg"
                        alt="facebook-icon"></a>
                <a href="#"><img class="social-app-icon" src="../static/images/icons/twitter.svg"
                        alt="twitter-icon"></a>
                <a href="#"><img class="social-app-icon" src="../static/images/icons/linkedin.svg"
                        alt="linkedin-icon"></a>
            </div>
        </div>
    </header>
    <!-- END HEADER SECTION  -->

    <!-- START HERO SECTION  -->
    <div class="partner-hero">
        <img src="../static/images/banners/grandmother.svg" alt="grandmother">
        <div class="partner-hero-content">
            <h1>The best of <span class="span-text">Kerico</span> for your business</h1>
            <h3>Kerico Healthcare provides Non-Emergency Medical Transportation (NEMT) services for organizations and
                thousands of rides annually.</h3>
        </div>
        <button>Sign up here <img src="../static/images/icons/btn.svg" alt="submit button"></button>
    </div>
    <!-- END HERO SECTION  -->

    <!-- START RECRUITING CITIES SECTION -->
    <div class="recruiting-container">
        <h2><span class="span-text">Kerico</span> for all your business needs</h2>
        <div class="cities-list">
            <ul>
                <li class="city-list-items">
                    <img src="../static/images/banners/partners/img1.svg" alt=".">
                    <hr>
                    <h3>Clinics and medical providers</h3>
                    <h5>We help clinics improve their appointment show rates by offering an affordable ride scheduling
                        and requesting solution for their patients who may not have easy access to transportation.</h5>
                <li class="city-list-items">
                    <img src="../static/images/banners/partners/img2.svg" alt=".">
                    <hr>
                    <h3>Retireement homes and communities</h3>
                    <h5>We provide retirement homes and residential care facilities with an affordable and flexible
                        transportation to help their residents stay connected to their the community for trips to
                        shopping, entertainment, recreation, the arts, and family visits.</h5>
                </li>
                <li class="city-list-items">
                    <img src="../static/images/banners/partners/img3.svg" alt=".">
                    <hr>
                    <h3>Skilled nursing facilities</h3>
                    <h5>Our highly screened group of drivers with specialized health care training only drive for us.
                        This ensures residents arrive safely to their medical appointments on time with any assistance
                        or help needed.</h5>
                </li>
            </ul>
        </div>
    </div>
    <!-- END RECRUITING CITIES SECTION -->

    <!-- START CONTENT SECTION  -->
    <div class="content-wrap">
        <h2>Your business is going places. We’re here to help.</h2>
        <button>Get in Touch<img src="../static/images/icons/btn.svg" alt="submit-button"></button>
    </div>
    <!-- END CONTENT SECTION  -->

    <!-- START LOGOS -->
    <div id="container">
        <div id="motto">
            <h1>We are trusted by hospitals, clinics, and<br>healthcare providers...</h1><br><br>
            <h4>...to get their patients to and from their medical appointments<br>with great customer experience.</h4>
        </div>
        <div id="logos">
            <img src="../static/images/logos/logo1.svg" alt="logo-1">
            <img src="../static/images/logos/logo2.svg" alt="logo-2">
            <img src="../static/images/logos/logo3.svg" alt="logo-3">
        </div>
    </div>
    <!-- END LOGOS -->

    <!-- START SERVICES SECTION  -->
    <img src="../static/images/banners/partners/img4.svg">
    <!-- END SERVICES SECTION  -->

    <!-- START SLIDER SECTION  -->
    <swiper-container class="mySwiper" navigation="true">

        <swiper-slide>
            <div class="slider-item">
                <img id="slider-item-logo" src="../static/images/banners/nirp-logo.svg" alt="NIRP LOGO">
                <div class="slider-content">
                    <h4>"Making it easier for our patients to get a ride to and from<br>their home improved our
                        appointment
                        show rate and our<br>facility utilization rate. That in turn has improved
                        patient<br>satisfaction and
                        our bottom line."</h4>
                    <h4>Maulik Patel, CFO</h4>
                    <h6>Learn more <img src="../static/images/icons/slider-strelka.svg"></h4>
                </div>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="slider-item">
                <img id="slider-item-logo" src="../static/images/banners/nirp-logo.svg" alt="NIRP LOGO">
                <div class="slider-content">
                    <h4>"Making it easier for our patients to get a ride to and from<br>their home improved our
                        appointment
                        show rate and our<br>facility utilization rate. That in turn has improved
                        patient<br>satisfaction and
                        our bottom line."</h4>
                    <h4>Maulik Patel, CFO</h4>
                    <h6>Learn more <img src="../static/images/icons/slider-strelka.svg"></h4>
                </div>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="slider-item">
                <img id="slider-item-logo" src="../static/images/banners/nirp-logo.svg" alt="NIRP LOGO">
                <div class="slider-content">
                    <h4>"Making it easier for our patients to get a ride to and from<br>their home improved our
                        appointment
                        show rate and our<br>facility utilization rate. That in turn has improved
                        patient<br>satisfaction and
                        our bottom line."</h4>
                    <h4>Maulik Patel, CFO</h4>
                    <h6>Learn more <img src="../static/images/icons/slider-strelka.svg"></h4>
                </div>
            </div>
        </swiper-slide>

    </swiper-container>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <!-- END SLIDER SECTION  -->

    <!-- START FOOTER SECTION  -->
    <footer>

        <div class="footer-inner-wrap-1">
            <img id="footer-logo" src="../static/images/icons/kerico.svg" alt="kerico logo">
            <div class="web-app-logos">
                <img src="../static/images/logos/facebook.svg" alt="facebook">
                <img src="../static/images/logos/twitter.svg" alt="twitter">
                <img src="../static/images/logos/linkedin.svg" alt="linkedin">
            </div>
        </div>

        <div class="footer-navbar">
            <ul>
                <a href="#">
                    <li class="footer-navbar-item">Driver</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Customer</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Driver Recruting</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Partners</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">About us</li>
                </a>
                <a href="#">
                    <li class="footer-navbar-item">Contact us</li>
                </a>
            </ul>
            <br><br>
        </div>
        <hr class="midline">
        <div class="footer-privacy-section">

            <div>
                <h5>Privacy Policy</h5>
                <h5>©2023 Kerico N.E.M.T Services</h5>
            </div>

            <div>
                <h5>Tell Free:<span class="copyrights"> 877-353-9857</span> Local:<span class="copyrights">
                        281-809-7245</span></h5>
                <h5>Address:<span class="copyrights"> 6575 West Loop South, Suite 500, Bellaire, TX 77401</span></h5>
            </div>

        </div>

    </footer>

    <!-- END FOOTER SECTION  -->
</body>

</html>